@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Maven+Pro:wght@400;700&display=swap&#39;');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400&family=Maven+Pro:wght@400;700&display=swap&#39;');

/*CSS para el Header, menú superior, body y footer que se repetirá en todas las páginas. */
* {
    margin:0%;
}

header {
    height: 250px;
}

#title {
    background-color: #0A91AB;
    height: 250px;
    width: 100%;
    font-family: 'Kanit', 'Maven Pro', Helvetica, Arial, sans-serif;
    z-index:1; 
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


h1 {
    color: #FFC045;
    text-align: center;
    padding-top: 2%;
}

#logo {
    width:150px;
    height:150px;
    z-index:1;  
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFC045; 
    height:40px;
    width:100%;
    top:0;
    z-index:2;
    align-items: center;
    position:sticky;

}   
.text_menu {
    cursor:pointer;
    font-weight: bold;
    color: black;
    align-items: center;
    margin-top: 1%;
    margin: 15px;
    margin-left: 60px;
    margin-right: 30px;
}

.text_menu:hover {
    cursor:pointer;
    color: #0A91AB;
    align-items: center;
    margin-top: 1%;
    margin: 15px;
    margin-left: 60px;
    margin-right: 30px;
}
footer {
    background-color: #847c6f;
}

#contacte {
    display: flex;
    justify-self: flex-start;
    justify-content: space-between;
    
}

#rrss {
    display: flex;
    justify-content: space-between;
    width: 20%;
    padding-left: 2%;
}

#direccio {
    flex-direction:column;
    text-align: right;
    font-style: italic;
    justify-content:flex-end;
    padding-right: 2%;
}

#copyright {
    display:flex;
    justify-content:center;
    height:40px;
    align-items: flex-end;
}


body {
    background-color: white;
    margin: 0%;
    font-family: 'Kanit', 'Maven Pro', Helvetica, Arial, sans-serif; 
}


/* Sección del CSS correspondiente a la página principal de la web*/

#section {
    display:flex;
    justify-content: space-between; 
}

#apartado_videojuegos {
    color: #0A91AB;
    padding: 1%;
}



.Videojuegos {
    border: 2px;
    border-style:dashed;
    border-radius: 10px;
    border-color: #FFC045;
    justify-content:center;
    color: black;
    text-decoration: none;
    display: inline-block;    
    box-shadow: 10px 10px 5px grey;        
    margin: 40px;
    width: 500px;
    height: 460px;
    align-items: center; 
    overflow: hidden;
    position: relative; 
}

.titulo_juego {
    color:#FFC045;
    font-style: inherit;
    cursor: pointer;
    padding-left: 3px;
    margin-bottom:5px;
}
.titulo_juego:hover {
    color:#FFC045;
    font-style: inherit;
    cursor: pointer;
    padding-left: 3px;
    margin-bottom:5px;
    text-decoration: underline;
}

.descripcion_juego {
    padding-left: 5px;
    padding-right: 5px;
    height: 120px;
     
}

.imagen_juego {
    width: 500px;
    height: 250px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.boton_juego {
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
    height:45px;
    margin-right:1%;
}

.videojuego_info {
    border-color: #FFC045;
    border-style:solid;
    background-color: #FFC045;
    border-radius: 10px;
    width: 65px;
    height: 35px;
    display:flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size:12px;
    font-family:'Kanit', 'Maven Pro', Helvetica, Arial, sans-serif;
}

.videojuego_info:hover {
    border-color: #a8e7f3;
    border-style:solid;
    background-color: #a8e7f3;
    border-radius: 10px;
    width: 65px;
    height: 35px;
    display:flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size:12px;
    font-family:'Kanit', 'Maven Pro', Helvetica, Arial, sans-serif;
}

.trucos_noticias {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin: 5px;
    justify-content: space-between;
    
}

aside {
    background-color: #a8e7f3;
    border-style: dotted;
    border-radius: 10px;
    width:300px;
    height: 1110px;
    justify-content: left;
    text-align: center;
    margin-left:0.5%;
    margin-bottom: 3%;
}
#titulo_trucos {
    color: #0A91AB;
    margin-bottom: 5%;
    margin-top:3%;
}
.apartado_trucos {
    border-bottom-color:white;
    border-bottom-style:double;
    width:98%;
    margin-left:4px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.trucos_juego {
    color:#FFC045;
    margin-top: 2%;
    margin-bottom: 2%;
}
.trucos {
    margin-bottom: 2%;
}

#trucos_noticias {
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
}

#noticias {
    width: 66%;
    text-align:center;
      
}

#apartado_noticias {
    color:#0A91AB;
    margin-bottom: 2px;
    text-align:center;
    width: 122%;
}

#lista_noticias {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 900px;
    width:120%;
    position:relative;
}

.noticia {
    background-color: white;
    border: 2.5px solid #0A91AB;
    width: 44%;
    height: 500px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;   
    margin: 15px;
    margin-left: 40px;
    height: 500px;
}

.titulo_noticia {
    text-align: left;
    color: #FFC045;
    font-weight: bold;
    padding-left: 2.5%;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    cursor:pointer;
    height: 40px;
}

.titulo_noticia:hover {
    text-align: left;
    color: #FFC045;
    font-weight: bold;
    padding-left: 2.5%;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: underline;
    cursor: pointer;
    height: 40px;
}

.fecha_noticia {
    font-weight: bold;
    font-size: 12px;
    text-align:left;
    padding-left: 15px;
    background: white;
    border-bottom-color: #FFC045;
    border-bottom-style:solid;
    border-bottom-width:10px;
    height:40px;
    
}

.resumen_noticia {
    font-size: 12px;
    line-height: 1.5;
    margin-left:5px;
    margin-right:5px;
    text-align:left;
    margin-top:30px;
}

.boton_noticia {
    position: absolute;
    bottom: 290px;
    right: 10px;
    border-color: #FFC045;
    border-style:solid;
    background-color: #FFC045;
    border-radius: 10px;
    width: 70px;
    height: 40px;
    display:flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
    margin-left: 425px;
    font-size:12px;
    font-family:'Kanit', 'Maven Pro', Helvetica, Arial, sans-serif;
}
.boton_noticia:hover {
    position: absolute;
    bottom: 290px;
    right: 10px;
    border-color: #a8e7f3;
    border-style:solid;
    background-color: #a8e7f3;
    border-radius: 10px;
    width: 70px;
    height: 40px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
    margin-left: 425px;
    font-size:12px;
    font-family:'Kanit', 'Maven Pro', Helvetica, Arial, sans-serif;
}

.imagen_noticia {
    width: 700px;
    height: 380px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    align-items: flex-end; 
    margin-top:10px; 
}

#ranking_title {
    text-align: center;
    color: #0A91AB;
    padding-bottom: 40px;
}
.ranking {
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.top {
    text-align:center;
    line-height:2;
}

.imagen_ranking {
    border-radius: 150px;
    border-style: dotted;
    border-color: #0A91AB;
    width:150px;
    height:150px;
}

.nombre_top {
    color:#FFC045;
}

.puntuacion_top {
    margin-bottom: 20px;
}

/*Sección del CSS correspondiente a la página de listado de videojuegos*/

#lista_videojuegos {
    display:flex;
    flex-direction: column;
    width:70%;
    height: 1300px;
    text-align: center;
    justify-content: center;
    border-style: solid;
    border-color:#0A91AB;
    border-radius:20px;
    margin-top: 4%;
    margin-left: 15%;
}

.videojuego_lista {
    border-style: solid;
    border-color:#0A91AB;
    display:flex;
    flex-direction:row;
    height:225px;
    margin: 1%;
    border-radius:20px;
}

.imagen_videojuego_lista {
    width: 400px;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}

.texto_videojuego_lista {
    display:flex;
    flex-direction: column;
    width: 750px;
}

.titulo_videojuego_lista {
    display:flex;
    align-items: center;
    text-align: left;
    height: 50px;
    color:#FFC045;
    margin-left:5px;
}

.descripcion_videojuego_lista {
    text-align:left;
    margin-left:5px; 
}

.mas_detalles {
    height: 40px;
    display:flex;
    align-items: center;
    align-self:flex-end;
    border-radius: 10px;
    margin-bottom: 5px;
    cursor:pointer;
    background-color:#FFC045;
}

.mas_detalles:hover {
    height: 40px;
    display:flex;
    align-items: center;
    align-self:flex-end;
    border-radius: 10px;
    margin-bottom: 5px;
    cursor:pointer;
    background-color:#a8e7f3;
}

#paginacion {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    margin-left: 40%;
    width: 280px;
    height: 40px;
    border-style:solid;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    border-top-width:0;
    border-color:#0A91AB;
    margin-bottom: 2%;
}

#pagina_previa {
    display:flex;
    justify-content:center;
    align-items: center;
    border-style:solid;
    border-width:1px;
    border-color:#0A91AB;
    height:40px;
    width:40px;
    text-align:center;
}

#pagina_actual {
    display:flex;
    justify-content:center;
    align-items: center;
    border-style:solid;
    border-width:1px;
    border-color:#0A91AB;
    height: 40px;
    width:40px;
    text-align:center;
    background-color:#a8e7f3;
}

.pagina {
    display:flex;
    justify-content:center;
    align-items: center;
    border-style:solid;
    border-width:1px;
    border-color:#0A91AB;
    height: 40px;
    width:40px;
    text-align:center;
    cursor:pointer;
}

.pagina:hover {
    display:flex;
    justify-content:center;
    align-items: center;
    background-color:#a8e7f3;
    border-style:solid;
    border-width:1px;
    border-color:#0A91AB;
    height: 40px;
    width:40px;
    text-align:center;
    cursor:pointer;
}

