header {
    margin: 0%;
    background-color: rgb(38, 163, 212);
    width: 300;
}
h1 {
    color: rgb(187, 187, 17);
    text-align: center;
}
div #menu {
    display flex-direction: space-around
    background-color: rgb(187, 187, 17);
}

h2 #videojuegostitle {
    color:rgb(14, 204, 211)
}
