header {
    background-color: #0A91AB;
    height: 100px;
    position: fixed;
    width: 100%;
}
h1 {
    color: #FFC045;
    text-align: center;
    padding: 0%;
}
#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    font-weight: bolder; 
    background-color: #FFC045; 
}   
.text_menu {
    cursor:pointer;
    color: black;
}
body {
    background-color: white;
    margin: 0%;
}

h2 {
    color: #0A91AB;
}

#main {
    display:flex;
}
#VideojuegosTitle {
    padding:1%;
    margin: 3%;
    color:#0A90AB25;
}

.Videojuegos {
    border: 2px;
    border-style: dashed;
    border-radius: 5px;
    border-color: #FFC045;
    justify-content:center;
    color: black;
    background-color: white;
    text-decoration: none;
    display: inline-block;            
    box-shadow: 10px 10px 5px grey;
    margin: 40px;
    width: 500px;
    border-radius: 10px;
    padding: 6px;
    
}
h3 {
    color:#FFC045;
    font-style: inherit;
}

.imagenes {
    width: 500px;
    height: 250px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.videojuego_info {
    border-color: #FFC045;
    border-style:solid;
    background-color: #FFC045;
    display: flex;
    border-radius: 25px;
    width: 60px;
    height: 30px;
    cursor: pointer;
    align-items: center;
    margin-bottom: 1%;
    justify-content: center;
    justify-items: center;
}

